.query-history.collapse
  .row
    .col-lg-10
      %h4= t('query_history.title')
    .col-sm-10
      %table.table{id: 'address-container'}
        %thead
          %tr
            %th= t('query_history.cep')
            %th= t('query_history.address')
            %th= t('query_history.neighborhood')
            %th= t('query_history.city')
            %th= t('query_history.state')
        %tbody
          - collection.each do |query|
            - result = ObjectifiedResponseService.new(query.response).object
            %tr
              %td=result.cep
              %td="#{result.tipo_de_logradouro} #{result.logradouro}"
              %td=result.bairro
              %td=result.cidade
              %td=result.estado
