.page-header
  %h2= t('query.title')

= form_for @query_form, url: search_cep_path, remote: true, method: :get, html: { class: "form form-horizontal query" } do |f|
  .form-group
    = f.label :cep, t('query.zipcode'), class: 'control-label col-lg-2'
    .col-lg-3
      = f.text_field :cep, class: 'form-control'
    = f.error_span(:cep)

  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit t('query.find'), class: 'btn btn-primary'
      = link_to t('query.show_history'), '#', id: 'show-history', :class => 'btn btn-default'
      = link_to t('query.cancel'), root_path, :class => 'btn btn-default'

.query-result

= render 'query_history', collection: @queries
